@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.glyphicon{
	font-size: 16px;
	margin:auto;
	height: 30px;
	line-height: 30px;
	font-size:12px;
	padding-left: 5px;
	cursor: pointer;
}
.infinity-menu-node-container {
	font-family: Bold MrEaves;
	font-size: 16px;
	text-align: center;
	width: fit-content;
	background-color: transparent;
	color: #3d77ea;
	height: 40px;
	pointer-events: pointer;
	border-style: solid 0px transparent;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;

}
.infinity-menu-node-container-isOpen{
	
	font-family: Bold MrEaves;
	font-size: 16px;
	text-align: center;
	width: fit-content;
	background-color: transparent;
	color: #B5CFE7;
	height: 40px;
	pointer-events: pointer;
	border-style: solid 0px transparent;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;

}

.infinity-menu-node-container:hover {
	
	background-color: transparent;
	border-style: solid ;
	width: fit-content;
	border-width: 1px;
	border-color:  #3d77ea;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;


}

.infinity-menu-leaf-container {
	
	width: fit-content;
	background-color: rgb(94, 96, 99);
	color: rgb(255, 255, 255);
	height: 40px;
	border-bottom: solid 1px rgb(73, 73 ,73);
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;

}

.infinity-menu-leaf-container:hover {
	background-color: rgb(73, 73, 73);

}

.infinity-menu-load-more-container {
	

	background-color: rgb(255, 255, 255);
	color: rgb(94, 96, 99);
	height: 40px;
	text-align: center;
	width: fit-content;
	list-style-type: none;
	line-height: 40px;
	padding-right: 10px;
	padding-left:10px;

}

.infinity-menu-load-more-container:hover {
	background-color: rgb(200, 200, 200);

}

